.footer{
    background: #282828;
    border-top: 3px solid #3c3d3c;
    text-align: center;
    font-size: 2rem;
    color:#3c3d3c;
    padding: 3rem 0;

    a{
        color: #616161;
        text-decoration: none;
        transition: all 0.3s;

        &:hover{
            text-shadow: 0 0 10px #616161;
        }
    }
}