.banner{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #252525;
    padding: 3rem;
    border-bottom: 3px solid #3c3d3c;

    h1{
        font-size: 6rem;
        color: #FFFFFF;
        font-weight: normal;
        user-select: none;
        opacity: 0;
        transform: translateY(-100px);
        animation: headingFadeIn 0.8s 0.2s forwards;
        transition: all 0.3s;
        position: relative;
        letter-spacing: 0.2rem;

        @media screen and (max-width: 560px){
            font-size: 3rem;
        }

        &::after{
            content: "";
            transform: translateX(-50%);
            position: absolute;
            bottom: 0;
            left: 50%;
            height: 7.5px;
            background: hsl(133, 98%, 42%);
            width: 0%;
            transition: all 0.3s;
        }

        &:is(:hover, :focus){
            text-shadow: 15px 8px 2px #353535;
        }

        &:is(:hover, :focus)::after{
            width: 100%;
        }
    }
}

@keyframes headingFadeIn{
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}