.gallery{
    background: #313131;
    padding: 8rem 12rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
}

.image-container{
    border-radius: 1rem;
    overflow: hidden;
    border: 3px solid #3c3d3c;
    background-size: cover;
    background-position: center;
    transform: translateX(-200px);
    opacity: 0;
    animation: slideIn 0.8s 0.2s forwards;
    transition: all 0.3s;
    cursor: pointer;
    
    //used to stretch the divs to the desired size as background image doesn't count as content
    &::after{
        content: "";
        display: block;
        padding-top: 85%;
    }

    @for $i from 1 through 6{
        &:nth-child(#{$i}){
            background-image: url("../images/skin#{$i}.jpg");
        }
    }

    &:hover{
        transform: scale(1.1);
        border: 3px solid #cac8c8;
        box-shadow: 0 0 50px white;
    }
}

@keyframes slideIn {
    from{
        transform: translateX(-200px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}