.image-container{
    border-radius: 1rem;
    overflow: hidden;
    border: 3px solid #3c3d3c;
    background-size: cover;
    background-position: center;
    transition: all 0.3s;
    cursor: pointer;
    
    //used to stretch the divs to the desired size as background image doesn't count as content
    &::after{
        content: "";
        display: block;
        padding-top: 85%;
    }

    @for $i from 1 through 6{
        &:nth-child(#{$i}){
            background-image: url("../images/skin#{$i}.jpg");
        }
    }
}

.hovered{
    border: 3px solid #cac8c8;
    box-shadow: 0 0 50px hsla(0, 100%, 100%, 0.6);
}

.not-hovered{
    filter: opacity(0.5)
}

.clicked{
    transform: scale(1.5);
    z-index: 100;
}