.image-container{
    border-radius: 1rem;
    overflow: hidden;
    border: 3px solid #3c3d3c;
    background-size: cover;
    background-position: center;
    transition: all 0.3s;
    cursor: pointer;
    background-color: #4a651e;
    background-repeat: no-repeat;
    
    //used to stretch the divs to the desired size as background image doesn't count as content
    &::after{
        content: "";
        display: block;
        padding-top: 85%;
    }

    @for $i from 1 through 6{
        &:nth-child(#{$i}){
            background-image: url("../images/skin#{$i}.jpg");
        }
    }
}

.hovered{
    border: 3px solid hsl(133, 98%, 42%);
    box-shadow: 0 0 50px hsla(133, 98%, 42%, 0.6);
}

.not-hovered{
    filter: opacity(0.5)
}

.clicked{
    transform: scale(1.4);
    z-index: 100;

    @media screen and (max-width: 560px){
        transform: scale(1.25);
    }
}